<div class="container" style="margin-top: 5%; text-align: center;">
  <h2>Cuentas</h2>
  <main style="margin: 15px;">
    <table class="table" style="color: white; ">
      <thead>
        <tr style="color: white; background-color: royalblue">
          <th scope="col">Moneda</th>
          <th scope="col">Nombre Cuenta</th>
          <th scope="col">Descripción</th>
          <th scope="col">Saldo Inicial</th>
          <th scope="col" style="cursor: pointer;"> <a class="nav-link" (click)="open(agregarCuenta)"
              style="margin-left: 50%;"> <i class="fas fa-plus-circle"></i></a> </th>
        </tr>
      </thead>
      <tbody *ngFor="let cuenta of cuentas;">
        <ng-container *ngFor="let moneda of money;">
          <tr style="color: black;" *ngIf="moneda.id == cuenta.descripcion_moneda">
            <th scope="row">{{moneda.descripcion}}</th>
            <td>{{cuenta.nombre_cuenta}}</td>
            <td>
                <div>
                    <div *ngIf="cuenta.descripcion_moneda == moneda.id">{{moneda.descripcion}}</div>
                </div>
            </td>
            <td>
              <div style="margin-left: 2%;"> {{moneda.simbolo}}{{cuenta.saldo_inicial | number:'3.2-2'}}</div>
            </td>
            <td><button class="btn btn-dark" (click)="editAccount(cuenta.id)" (click)="open(editCuenta)"
                style="margin-right: 10%;"><i class="fas fa-user-edit"></i></button><button
                (click)="deleteAccount(cuenta.id)" class="btn btn-danger" style="margin-right: 15%;"><i
                  class="fas fa-trash-alt"></i></button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </main>

  <ng-template #agregarCuenta let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Registro Cuentas</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #formulario="ngForm" (ngSubmit)="addCuenta(formulario)" ngNativeValidate>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Seleccione Moneda</label>
          </div>
          <select class="custom-select" [(ngModel)]="descripcion_moneda" name="selector" required>
            <option *ngFor="let moneda of money;" name="moneda" id="moneda" value="{{moneda.id}}">{{moneda.descripcion}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="nombre_cuenta">Nombre Cuenta</label>
          <input type="text" [(ngModel)]="nombre_cuenta" name="nombre_cuenta" class="form-control" id="nombre_cuenta"
            required>
        </div>
        <div class="form-group">
          <label for="descripcion">Descripción</label>
          <input type="text" [(ngModel)]="descripcion" name="descripcion" class="form-control" id="descripcion"
            required>
        </div>
        <div class="form-group">
          <label for="saldo_inicial">Saldo Inicial</label>
          <input type="number" [(ngModel)]="saldo_inicial" name="saldo_inicial" class="form-control" id="saldo_inicial"
            step="0.01" min="1" required>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Crear</button>
      </form>
    </div>
  </ng-template>

  <ng-template #editCuenta let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Editar Cuentas</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #formulario1="ngForm" (ngSubmit)="updateCuenta(formulario1)" ngNativeValidate>
        <input type="number" [(ngModel)]="datos_cuentas.id" name="id" hidden>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Seleccione Moneda</label>
          </div>
          <select class="custom-select" [(ngModel)]="datos_cuentas.descripcion_moneda" name="selector" required>
            <option *ngFor="let moneda of money;" name="moneda" id="moneda">{{moneda.descripcion}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="nombre_cuenta">Nombre Cuenta</label>
          <input type="text" [(ngModel)]="datos_cuentas.nombre_cuenta" name="nombre_cuenta" class="form-control"
            id="nombre_cuenta" required>
        </div>
        <div class="form-group">
          <label for="descripcion">Descripción</label>
          <input type="text" [(ngModel)]="datos_cuentas.descripcion" name="descripcion" class="form-control"
            id="descripcion" required>
        </div>
        <div class="form-group">
          <label for="saldo_inicial">Saldo Inicial</label>
          <input type="number" [(ngModel)]="datos_cuentas.saldo_inicial" name="saldo_inicial" class="form-control"
            id="saldo_inicial" step="0.01" min="1" required>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Actualizar</button>
      </form>
    </div>
  </ng-template>
</div>