<div class="container" style="margin-top: 5%; text-align: center;"> 
    <h2>Monedas</h2>
    <main style="margin: 15px;">
        <table class="table" style="color: white; ">
          <thead>
            <tr style="color: white; background-color: royalblue">
              <th scope="col">Moneda</th>
              <th scope="col">Simbolo</th>
              <th scope="col">Descripción</th>
              <th scope="col">Tasa</th>
              <th scope="col" style="cursor: pointer;"> <a class="nav-link" (click)="open(agregarMoney)" style="margin-left: 50%;"> <i class="fas fa-plus-circle"></i></a> </th>
            </tr>
          </thead>
          <tbody *ngFor="let moneda of money;">
            <tr style="color: black;">
              <th scope="row">{{moneda.nombre_moneda}}</th>
              <td>{{moneda.simbolo}}</td>
              <td>{{moneda.descripcion}}</td>
              <td>{{moneda.tasa}}</td>
              <td><button class="btn btn-dark" (click)="EditMoney(moneda.id)" (click)="open(editMoney)" style="margin-right: 3px; margin-left: 50%;"><i class="fas fa-user-edit"></i></button><button (click)="deleteMoney(moneda.id)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></td>
            </tr>
          </tbody>
        </table>
    </main>
    
    <ng-template #agregarMoney let-modal>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registro de Monedas</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #formulario="ngForm" (ngSubmit)="addMoney(formulario)" ngNativeValidate> 
          <div class="form-group">
            <label for="moneda">Nombre moneda</label>
            <input type="text" [(ngModel)]="name_money" name="moneda" class="form-control" id="moneda" aria-describedby="emailHelp" required>
          </div>
          <div class="form-group">
            <label for="simbolo">Simbolo</label>
            <input type="text" [(ngModel)]="simbolo" name="simbolo" class="form-control" id="simbolo" required>
          </div>
          <div class="form-group">
            <label for="descripcion">Descripción</label>
            <input type="text" [(ngModel)]="descripcion" name="descripcion" class="form-control" id="descripcion" required>
          </div>
          <div class="form-group">
            <label for="tasa">Tasa</label>
            <input type="number"[(ngModel)]="tasa" name="tasa" class="form-control" id="tasa" step="0.01" min="1" required>
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Crear</button>
        </form>
      </div>
    </ng-template>

    <ng-template #editMoney let-modal>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Monedas</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #formulario1="ngForm" (ngSubmit)="updateMoney(formulario1)" ngNativeValidate> 
          <input type="number" [(ngModel)]="datos_moneda.id" name="id" hidden>
          <div class="form-group">
            <label for="moneda">Nombre moneda</label>
            <input type="text" [(ngModel)]="datos_moneda.nombre_moneda" name="moneda" class="form-control" id="moneda" aria-describedby="emailHelp" required>
          </div>
          <div class="form-group">
            <label for="simbolo">Simbolo</label>
            <input type="text" [(ngModel)]="datos_moneda.simbolo" name="simbolo" class="form-control" id="simbolo" required>
          </div>
          <div class="form-group">
            <label for="descripcion">Descripción</label>
            <input type="text" [(ngModel)]="datos_moneda.descripcion" name="descripcion" class="form-control" id="descripcion" required>
          </div>
          <div class="form-group">
            <label for="tasa">Tasa</label>
            <input type="number" [(ngModel)]="datos_moneda.tasa" name="tasa" class="form-control" id="tasa" step="0.01" min="1" required>
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Actualizar</button>
        </form>
      </div>
    </ng-template>
</div>