<div class="container" style="margin-top: 2%; text-align: center;">
    <h2>Reportes y Gráficos</h2>
    <div style="display: flex; justify-content: space-between">
        <button class="btn btn-outline-info" style="padding: 15px;" (click)="open(sumatoria)"
            title="Detalle de Gastos e Ingresos">Sumatoria y
            detalle gastos e ingresos</button>
        <button class="btn btn-outline-info" style="padding: 15px;" (click)="open(categorias)"
            title="Gatos e Ingresos por Categoria">Detalle gatos
            e ingresos por categoría</button>
    </div>
    <br>
    <hr>
    <span style="font-size: 20px;">Saldo de Cuentas</span>
    <main style="margin: 15px;">
        <div class="row" style="text-align: center;">
            <div class="card col-sm-5" style="width: 18rem; margin: auto; margin-top: 10px;"
                *ngFor="let cuenta of cuentas">

                <ng-container *ngFor="let moneda of money">
                    <div class="card-body" *ngIf="moneda.id == cuenta.descripcion_moneda">
                        <h5 class="card-title">Cuenta: {{cuenta.nombre_cuenta}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Saldo Actual: {{moneda.simbolo}}
                            {{cuenta.saldo_inicial | number:'3.2-2'}}</h6>
                    </div>
                </ng-container>
            </div>
            <span *ngIf="cuentas.length == 0" id="nohay" style="display: inline-block; width: 100%;">No hay cuentas
                registradas</span>
        </div>
    </main>
    <br>
    <hr>
</div>

<ng-template #sumatoria let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sumatoria de Gastos e Ingresos</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <form class="form-inline row">
            <div class="form-group" style="width: 100%;">
                <div class="input-group col-sm-5" style="margin-right: 10px; margin: auto; margin-bottom: 10px;">
                    <label for="ini" style="margin-right: 4px;">Fecha Inicial</label>
                    <input class="form-control" placeholder="yyyy-mm-dd" id="ini" name="ini" [(ngModel)]="inicial"
                        ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i
                                class="fas fa-calendar-alt"></i></button>
                    </div>
                </div>
                <div class="input-group col-sm-5" style="margin-right: 10px; margin: auto; margin-bottom: 10px;">
                    <label for="final" style="margin-right: 4px;">Fecha Final</label>
                    <input class="form-control" placeholder="yyyy-mm-dd" id="final" name="final" [(ngModel)]="final"
                        ngbDatepicker #d2="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"><i
                                class="fas fa-calendar-alt"></i></button>
                    </div>
                </div>
            </div>
        </form>

        <div class="row" style="margin-top: 10px;">
            <div class="col-sm-3">
                <button class="btn btn-outline-info" type="button" id="ultimomes" name="ultimomes" (click)="ultimo_ms()"
                    style="width: 100%; display: inline-block; margin-top:5px;">Ultimo
                    Mes</button>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-outline-primary" type="button"
                    style="width: 100%; display: inline-block; margin-top:5px;" name="ultimoa"
                    (click)="ultimo_a()">Ultimo Año</button>
            </div>
            <div class="col-sm-3">
                <select id="inputState" (click)="limpiarFechasmes()" [(ngModel)]="mes" class="form-control">
                    <option selected disabled>Seleccion un Mes...</option>
                    <option value='1'>Enero</option>
                    <option value='2'>Febrero</option>
                    <option value='3'>Marzo</option>
                    <option value='4'>Abril</option>
                    <option value='5'>Mayo</option>
                    <option value='6'>Junio</option>
                    <option value='7'>Julio</option>
                    <option value='8'>Agosto</option>
                    <option value='9'>Septiembre</option>
                    <option value='10'>Octubre</option>
                    <option value='11'>Noviembre</option>
                    <option value='12'>Diciembre</option>
                </select>
            </div>
            <div class="col-sm-3">
                <select id="inputState2" (click)="limpiarFechasano()" [(ngModel)]="ano" class="form-control">
                    <option selected disabled>Seleccion un Año...</option>
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                    <option value="2010">2010</option>
                    <option value="2009">2009</option>
                    <option value="2008">2008</option>
                    <option value="2007">2007</option>
                    <option value="2006">2006</option>
                    <option value="2005">2005</option>
                    <option value="2004">2004</option>
                    <option value="2003">2003</option>
                    <option value="2002">2002</option>
                    <option value="2001">2001</option>
                    <option value="2000">2000</option>
                </select>
            </div>
        </div>
        <hr>
        <div class="row">
            <form>
                <div class="form-group form-inline">
                    Buscar Cuenta o Tipo de Operacion: <input class="form-control ml-2" type="text" [(ngModel)]="filter"
                        name="filter" />
                </div>
            </form>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Tipo de Operacion</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Cuenta</th>
                        <th scope="col">Monto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let trans of transacciones | texto:filter:inicial:final:ultimo_mes:ultimo_ano:mes:ano | paginate: { itemsPerPage: 4, currentPage: p }">
                        <ng-container *ngFor="let cuenta of cuentas">
                            <ng-container *ngFor="let moneda of money">
                                <ng-container
                                    *ngIf="cuenta.id == trans.cuenta_transaccion && moneda.id == cuenta.descripcion_moneda">
                                    <th scope="col">{{trans.nombre_transaccion}}</th>
                                    <th scope="col">{{trans.fecha | date:'dd/MM/yyyy h:mm'}}</th>
                                    <th scope="col">{{trans.nombre_cuenta}}</th>
                                    <th scope="col">{{moneda.simbolo}} {{trans.monto | number:'3.2-2'}}</th>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
            <div>
                <span
                    *ngIf="(filter != null && filter != '') || (inicial != undefined && final != undefined) || (ultimo_mes != null || ultimo_ano != null) || (mes != 0 || ano != 0) "
                    style="position: relative; float: left; margin-top: 17%; margin-left: 778%; font-weight: bold;">Total:
                    {{ transacciones | total:filter:inicial:final:ultimo_mes:ultimo_ano:mes:ano | number:'3.2-2' }}
                </span>
                <!--fixed-->
            </div>
            <div class="d-flex justify-content-between p-2">
                <pagination-controls responsive="true" previousLabel="Anterior" nextLabel="Siguiente"
                    (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #categorias let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Gastos e Ingresos por Categorias</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div style="display: block">
            <canvas (chartClick)="chartClicked($event)" baseChart [datasets]="barChartData" [labels]="barChartLabels"
                [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                [chartType]="barChartType">
            </canvas>
        </div>
    </div>
</ng-template>

<ng-template #trans let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Gastos e Ingresos por {{nombre}}</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Tipo de Operacion</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Cuenta</th>
                    <th scope="col">Monto</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let trans of t | paginate: { itemsPerPage: 4, currentPage: p }">
                    <ng-container *ngFor="let cuenta of cuentas">
                        <ng-container *ngFor="let moneda of money">
                            <ng-container
                                *ngIf="cuenta.id == trans.cuenta_transaccion && moneda.id == cuenta.descripcion_moneda">
                                <th scope="col">{{trans.nombre_transaccion}}</th>
                                <th scope="col">{{trans.fecha | date:'dd/MM/yyyy h:mm'}}</th>
                                <th scope="col">{{trans.nombre_cuenta}}</th>
                                <th scope="col">{{moneda.simbolo}} {{trans.monto | number:'3.2-2'}}</th>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-between p-2">
            <pagination-controls responsive="true" previousLabel="Anterior" nextLabel="Siguiente"
                (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</ng-template>