<div class="container" style="margin-top: 5%; text-align: center;"> 
    <h2>Transacciones</h2>
    <main style="margin: 15px;">
        <table class="table" style="color: white; ">
            <thead>
            <tr style="color: white; background-color: royalblue">
                <th scope="col">Tipo</th>
                <th scope="col">Fecha</th>
                <th scope="col">Cuenta</th>
                <th scope="col">Categoria</th>
                <th scope="col">Detalle</th>
                <th scope="col">Monto</th>
                <th scope="col" style="cursor: pointer;"> <a class="nav-link" (click)="open(agregarTransaction)" style="margin-left: 50%;"> <i class="fas fa-plus-circle"></i></a> </th>
            </tr>
            </thead>
            <tbody *ngFor="let transac of transacciones;">
                <tr style="color: black;">
                    <td>
                        <div>
                            <div *ngIf="(transac.tipo_transaccion == 0)">Gasto</div>
                            <div *ngIf="(transac.tipo_transaccion == 1)">Ingreso</div>
                        </div>
                        <!--{{transac.tipo_transaccion}}-->
                    </td>
                    <td>{{transac.fecha | date:'dd/MM/yyyy h:mm'}}</td>
                    <td>
                        <div *ngFor="let cuenta of cuentas;">
                            <div *ngIf="cuenta.id == transac.cuenta_transaccion">{{cuenta.nombre_cuenta}}</div>
                        </div>
                    </td>
                    <td>
                        <div *ngFor="let categoria of categorias;">
                            <div *ngIf="(categoria.id == transac.categoria_transaccion)">{{categoria.nombre_catego}}</div>
                        </div>
                    </td>
                    <td>{{transac.detalle}}</td>
                    <ng-container *ngFor="let cuenta of cuentas;">
                        <ng-container *ngFor="let moneda of money">
                                <td *ngIf="(transac.tipo_transaccion == 0 && cuenta.descripcion_moneda == moneda.id && transac.cuenta_transaccion == cuenta.id)">- {{moneda.simbolo}} {{transac.monto | number:'3.2-2'}}</td>
                                <td *ngIf="(transac.tipo_transaccion == 1 && cuenta.descripcion_moneda == moneda.id && transac.cuenta_transaccion == cuenta.id)">+ {{moneda.simbolo}} {{transac.monto | number:'3.2-2'}}</td>
                        </ng-container>
                    </ng-container>
                    <td><button class="btn btn-dark" (click)="EditTransacion(transac.id)" (click)="open(editTransaction)" style="margin-right: 10%;"><i class="fas fa-user-edit"></i></button><button (click)="deleteTransacion(transac.id)" class="btn btn-danger" style="margin-right: 15%;"><i class="fas fa-trash-alt"></i></button></td>
                </tr>
            </tbody>
        </table>
    </main>
    
    <ng-template #agregarTransaction let-modal>
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registro de Transacciones</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <form #formulario="ngForm" (ngSubmit)="addTransacion(formulario)" ngNativeValidate>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Tipo entrada</label>
                    </div>
                    <select class="custom-select" [(ngModel)]="tipo_transaccion" name="tipo" required>
                        <option  value="0" name="0">Gasto</option>
                        <option  value="1" name="1">Ingreso</option> 
                    </select>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend"> 
                        <label class="input-group-text" for="inputGroupSelect01">Seleccione Cuenta</label>
                    </div>
                    <select class="custom-select" (change)="verificarCuenta()" [(ngModel)]="cuenta_transaccion" name="cuenta" required>
                        <option *ngFor="let cuenta of cuentas;" value="{{cuenta.id}}" name="moneda">{{cuenta.nombre_cuenta}}</option> 
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Seleccione Categoria</label>
                    </div>
                    <select class="custom-select" (change)="verificarTraslado()" [(ngModel)]="categoria_transaccion" name="categoria" required>
                        <ng-container *ngFor="let categoria of categorias;">
                            <option  value="{{categoria.id}}" *ngIf="categoria.tipo_catego == tipo_transaccion" name="moneda">
                                <p >{{categoria.nombre_catego}}</p>
                            </option> 
                        </ng-container>
                    </select>
                </div>
                <div class="input-group mb-3" *ngIf="tipo_trans">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Seleccione Cuenta Destino</label>
                    </div>
                    <select class="custom-select" [(ngModel)]="cuenta_destino" name="destino" required>
                        <option *ngFor="let cuenta of cuentas;" value="{{cuenta.id}}" name="d_cuenta">{{cuenta.nombre_cuenta}}</option> 
                    </select>
                </div>
                <div class="form-group">
                    <label for="detalle">Detalle</label>
                    <input type="text" [(ngModel)]="detalle" name="detalle" class="form-control" id="detalle" required>
                </div>
                <div class="form-group">
                    <label for="monto">Monto a Ingresar</label>
                    <input type="number" [(ngModel)]="monto" step="0.001" name="monto" class="form-control" id="monto" required>
                </div>
                <div class="form-group">
                    <label for="monto2">Monto Actual</label>
                    <input type="number" [(ngModel)]="montoActual" name="Actual" readonly class="form-control" id="monto2">
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Crear</button>
            </form>
        </div>
    </ng-template>

    <ng-template #editTransaction let-modal>
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Transacciones</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <form #formulario1="ngForm" (ngSubmit)="updateTransacion(formulario1)" ngNativeValidate> 
            <input type="number" [(ngModel)]="datos_transaccion.id" name="id" hidden>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Tipo entrada</label>
                </div>
                <select class="custom-select" [(ngModel)]="datos_transaccion.tipo_transaccion" name="tipo" required disabled>
                    <option  value="0" name="0">Gasto</option>
                    <option  value="1" name="1">Ingreso</option> 
                </select>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend"> 
                    <label class="input-group-text" for="inputGroupSelect01">Seleccione Cuenta</label>
                </div>
                <select class="custom-select" (change)="verificarCuenta()" [(ngModel)]="datos_transaccion.cuenta_transaccion" name="cuenta" required disabled>
                    <option *ngFor="let cuenta of cuentas;" value="{{cuenta.id}}" name="moneda">{{cuenta.nombre_cuenta}}</option> 
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Seleccione Categoria</label>
                </div>
                <select class="custom-select" (change)="verificarTraslado()" [(ngModel)]="datos_transaccion.categoria_transaccion" name="categoria" required disabled>
                    <ng-container *ngFor="let categoria of categorias;">
                        <option  value="{{categoria.id}}"  name="catego1"> <!--*ngIf="categoria.tipo_catego == tipo_transaccion"-->
                            <p >{{categoria.nombre_catego}}</p>
                        </option> 
                    </ng-container>
                </select>
            </div>
            <div class="input-group mb-3" *ngIf="tipo_trans">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Seleccione Cuenta Destino</label>
                </div>
                <select class="custom-select" [(ngModel)]="datos_transaccion.cuenta_destino" name="destino" required disabled>
                    <option *ngFor="let cuenta of cuentas;" value="{{cuenta.id}}" name="d_cuenta">{{cuenta.nombre_cuenta}}</option> 
                </select>
            </div>
            <div class="form-group">
                <label for="detalle">Detalle</label>
                <input type="text" [(ngModel)]="datos_transaccion.detalle" name="detalle" class="form-control" id="detalle" required>
            </div>
            <div class="form-group">
                <label for="monto">Monto a Ingresar</label>
                <input type="number" [(ngModel)]="datos_transaccion.monto" step="0.001" name="monto" class="form-control" id="monto" required disabled>
            </div>
            <!--<div class="form-group">
                <label for="monto2">Monto Actual</label>
                <input type="number" [(ngModel)]="montoActual" name="Actual1" readonly class="form-control" id="Actual1">
            </div>-->
            <button type="submit" class="btn btn-primary btn-lg btn-block">Actualizar</button>
        </form>
        </div>
    </ng-template>
</div>
    