<div class="container" style="margin-top: 5%; text-align: center;"> 
    <h2>Categorias</h2>
    <main style="margin: 15px;">
        <table class="table" style="color: white; ">
          <thead>
            <tr style="color: white; background-color: royalblue">
              <th scope="col">Nombre Categoria</th>
              <th scope="col">Categoria Padre</th>
              <th>Tipo Categoria</th>
              <th scope="col" style="cursor: pointer;"> <a class="nav-link" (click)="open(agregarCategoria)" style="float: right;"> <i class="fas fa-plus-circle"></i></a> </th>
            </tr>
          </thead>
          <tbody *ngFor="let categoria of categorias;">
            <tr style="color: black;">
              <th>{{categoria.nombre_catego}}</th>
              <td>
                <div *ngFor="let catepadre of categorias;">
                    <div *ngIf="catepadre.id == categoria.catego_padre">{{catepadre.nombre_catego}}</div>
                </div>
                <div *ngIf="(categoria.catego_padre == 0) || (categoria.catego_padre == null)">Categoria Superior</div>
              </td>
              <td>
                <div>
                  <div *ngIf="(categoria.tipo_catego == 0)">Gasto</div>
                  <div *ngIf="(categoria.tipo_catego == 1)">Ingreso</div>
                </div>
              </td>
              <td style="margin-left: 50%;">
                <div *ngIf="verificarCatego(categoria.nombre_catego)"> <!--" -->
                    <button class="btn btn-dark" (click)="editCatego(categoria.id)" (click)="open(editCategoria)" style="margin-right: 3px; margin-left: 50%;"><i class="fas fa-user-edit"></i></button>
                    <button (click)="deleteCatego(categoria.id)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                </div>
                <div *ngIf="(respuesta == false)" style="float: right;"> Categoria Defecto </div>
              </td>
            </tr>
          </tbody>
        </table>
    </main>
    
    <ng-template #agregarCategoria let-modal>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registro de Categorias</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #formulario="ngForm" (ngSubmit)="addCategoria(formulario)" ngNativeValidate>
          <div class="form-group">
            <label for="nombre_catego">Nombre Categoria</label>
            <input type="text" [(ngModel)]="nombre_catego" name="nombre_catego" class="form-control" id="nombre_catego" required>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Seleccione Categoria</label>
            </div>
            <select class="custom-select" [(ngModel)]="catego_padre" name="selector1" required>
              <option value="0">Categoria Superior</option>
              <option *ngFor="let categoria of categorias;" value="{{categoria.id}}" name="moneda" id="moneda">{{categoria.nombre_catego}}</option> 
            </select>
          </div>
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Categoria Tipo</label>
              </div>
            <select class="custom-select" [(ngModel)]="tipo_catego" name="selector2" required>
              <option  value="0" name="0">Gasto</option>
              <option  value="1" name="1">Ingreso</option> 
            </select>
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Crear</button>
        </form>
      </div>
    </ng-template>

    <ng-template #editCategoria let-modal>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Categorias</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #formulario1="ngForm" (ngSubmit)="updateCategoria(formulario1)" ngNativeValidate> 
          <input type="number" [(ngModel)]="datos_categorias.id" name="id" hidden>
          <div class="form-group">
            <label for="nombre_catego">Nombre Categoria</label>
            <input type="text" [(ngModel)]="datos_categorias.nombre_catego" name="nombre_catego" class="form-control" id="nombre_catego" required>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Seleccione Categoria</label>
            </div>
            <select class="custom-select" [(ngModel)]="datos_categorias.catego_padre" name="selector3" required>
              <option value="0">Categoria Superior</option>
              <option *ngFor="let categoria of categorias;" value="{{categoria.id}}" name="moneda">{{categoria.nombre_catego}}</option> 
            </select>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Categoria Tipo</label>
            </div>
            <select class="custom-select" [(ngModel)]="datos_categorias.tipo_catego" name="selector4" required>
              <option  value="0" name="0">Gasto</option>
              <option  value="1" name="1">Ingreso</option> 
            </select>
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Actualizar</button>
        </form>
      </div>
    </ng-template>
</div>
