<!-- Just an image -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home">
    <i style="font-size: 30px;" class="fas fa-comment-dollar"></i>
  </a>
</nav>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Sign In </h2>
    <h2 class="inactive underlineHover" routerLink="/registro">Sign Up </h2>

    <div class="sing">
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="./../../assets/money.png" width="120" id="icon" alt="Usuario" />
      </div>

      <!-- Login Form -->
      <form #form="ngForm" (ngSubmit)="verifyUser(form)" ngNativeValidate>
        <input type="email" [(ngModel)]="correo" id="login" class="fadeIn second" required name="Nombre Usuario"
          placeholder="Correo Electronico">
        <input type="password" [(ngModel)]="contra" *ngIf="qr" id="password" class="fadeIn third" required name="login"
          placeholder="Contraseña">
        <input type="text" [(ngModel)]="code" *ngIf="!qr" id="code" class="fadeIn third" required name="code"
          placeholder="Código">
        <input type="submit" class="fadeIn fourth" value="Log In">

      </form>
      <div class="button"
        style="margin: auto; width: 50%; text-align: center; display: flex; flex-direction: row; margin-bottom: 15px;">
        <button class="btn btn-light" (click)="socialSignIn('google')" title="Login con Google"
          style="display: inline-block; margin: auto;"><i class="fab fa-google"></i></button>
        <button class="btn btn-primary" (click)="socialSignIn('facebook')" title="Login con Facebook"
          style="display: inline-block; margin: auto;"><i class="fab fa-facebook"></i></button>
        <button class="btn btn-dark" (click)="CodeQR()" title="Login con 2FA" style=" margin: auto;"><i
            class="fas fa-qrcode"></i></button>
      </div>
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a (click)="open(content)" class="underlineHover" style="cursor: pointer;">Eres Invitado?</a>
      </div>
    </div>

  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Usuario Invitado</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #form="ngForm" (ngSubmit)="changePass(form)" ngNativeValidate>
      <div class="form-group">
        <label for="correo">Correo Electronico</label>
        <input type="email" name="correo" required [(ngModel)]="correo_invitado" id="correo_invitado"
          class="form-control" placeholder="Correo Electronico"><br>
        <label for="codigo">Contraseña Inicial</label>
        <show-hide-password size="" btnStyle="primary" [btnOutline]="false">
          <input type="text" (change)="checkInvitado()" name="codigo" class="form-control" required
            [(ngModel)]="pass_invitado" placeholder="Codigo" id="codigo">
        </show-hide-password>
        <div class="pass" *ngIf="existe">
          <label for="pass">Nueva Contraseña</label>
          <show-hide-password size="" btnStyle="primary" [btnOutline]="false">
            <input type="password" required name="pass" [(ngModel)]="pass" id="password" placeholder="Contraseña">
          </show-hide-password>
          <label for="pass">Confirmar Contraseña</label>
          <show-hide-password size="" btnStyle="primary" [btnOutline]="false">
            <input type="password" required name="newpass" [(ngModel)]="newpass" id="newpass" placeholder="Contraseña">
          </show-hide-password>
        </div>
      </div>
      <button type="submit" *ngIf="existe" style="width: 100%;" class="btn btn-outline-dark">Log In</button>
    </form>
  </div>

</ng-template>