<div class="container" style="margin-top: 5%; text-align: center;"> 
    <h2>Gastos e Ingresos</h2>
    <main style="margin: 15px;">
        <table class="table" style="color: white; ">
          <thead>
            <tr style="color: white; background-color: royalblue">
              <th scope="col">Categoria</th>
              <th scope="col">Tipo</th>
              <th scope="col">Descripción</th>
              <th scope="col">Presupuesto</th>
              <th scope="col" style="cursor: pointer;"> <a class="nav-link" (click)="open(agregarCuenta)" style="margin-left: 50%;"> <i class="fas fa-plus-circle"></i></a> </th>
            </tr>
          </thead>
          <tbody *ngFor="let gast_ingre of gastos_ingregos;">
            <tr style="color: black;" >
              <th>
                <div *ngFor="let categoria of categorias;">
                  <div *ngIf="(categoria.id == gast_ingre.categoria)">{{categoria.nombre_catego}}</div>
                </div>
              </th>
              <td>{{gast_ingre.tipo}}</td>
              <td>{{gast_ingre.descripcion}}</td>
              <td>₡ {{gast_ingre.presupuesto | number:'3.2-2'}}</td>
              <td><button class="btn btn-dark" (click)="EditGast_ingre(gast_ingre.id)" (click)="open(editCuenta)" style="margin-right: 10%;"><i class="fas fa-user-edit"></i></button><button (click)="deleteAccount(gast_ingre.id)" class="btn btn-danger" style="margin-right: 15%;"><i class="fas fa-trash-alt"></i></button></td>
            </tr>
          </tbody>
        </table>
    </main>
    
    <ng-template #agregarCuenta let-modal>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registro de Gastos e Ingresos</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #formulario="ngForm" (ngSubmit)="addGast_ingre(formulario)" ngNativeValidate> 
          <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Seleccione Categoria</label>
            </div>
            <select class="custom-select" [(ngModel)]="categoria" name="selector" required>
              <option *ngFor="let categoria of categorias;" value="{{categoria.id}}" name="moneda">{{categoria.nombre_catego}}</option> 
            </select>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Tipo categoria</label>
            </div>
            <select class="custom-select" [(ngModel)]="tipo" name="selector" required>
              <option  value="gasto" name="gasto">Gasto</option>
              <option  value="ingreso" name="ingreso">Ingreso</option> 
            </select>
          </div>
          <div class="form-group">
            <label for="descripcion">Descripción</label>
            <input type="text" [(ngModel)]="descripcion" name="descripcion" class="form-control" id="descripcion" required>
          </div>
          <div class="form-group">
            <label for="saldo_inicial">Presupuesto</label>
            <input type="number"[(ngModel)]="presupuesto" name="presupuesto" class="form-control" id="presupuesto" step="0.01" min="1" required>
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Crear</button>
        </form>
      </div>
    </ng-template>

    <ng-template #editCuenta let-modal>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Gastos e Ingresos</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #formulario1="ngForm" (ngSubmit)="updateGast_ingre(formulario1)" ngNativeValidate> 
          <input type="number" [(ngModel)]="datos_gastos_ingregos.id" name="id" hidden>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Seleccione Categoria</label>
            </div>
            <select class="custom-select" [(ngModel)]="datos_gastos_ingregos.categoria" name="selector1" required>
              <option *ngFor="let categori of categorias;" value="{{categori.id}}" name="moneda">{{categori.nombre_catego}}</option> 
            </select>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Tipo categoria</label>
            </div>
            <select class="custom-select" [(ngModel)]="datos_gastos_ingregos.tipo" name="selector" required>
              <option  value="gasto" name="gasto">Gasto</option>
              <option  value="ingreso" name="ingreso">Ingreso</option> 
            </select>
          </div>
          <div class="form-group">
            <label for="descripcion">Descripción</label>
            <input type="text" [(ngModel)]="datos_gastos_ingregos.descripcion" name="descripcion" class="form-control" id="descripcion" required>
          </div>
          <div class="form-group">
            <label for="saldo_inicial">Presupuesto</label>
            <input type="number"[(ngModel)]="datos_gastos_ingregos.presupuesto" name="presupuesto" class="form-control" id="presupuesto" step="0.01" min="1" required>
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Actualizar</button>
        </form>
      </div>
    </ng-template>
</div>
