/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */
body {
    overflow-x: hidden;
}

::ng-deep .my-class .modal-dialog { 
    max-width: 80%;
    width: 80%;
}

.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  

//este el color de fondo
.d-flex{
    background-color: #f8f9fc;
    width: 100%;
    overflow-x: hidden;
}

#menu1{
    background-color: #4e73df;
    color: white;
    font-weight: 350;
    font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
    margin-bottom: 1%;
}

.sidebar-heading{
    margin-left: 15%;
    width: 25%;
    margin-top: -1%;
}

#page1{
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}

#usuario{
    cursor: pointer; 
}

.topbar-divider {
    width: 0;
    border-right: 1px solid #e3e6f0;
    height: calc(4.375rem - 2rem);
    margin: auto 1rem;
}
  
#sidebar-wrapper {
    background-color: royalblue;
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 750px) {
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}


@media (min-width: 950px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #menuvar{
        display: none !important;
    }

}
