<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <div class="sidebar-heading"><img src="./../../assets/money.png" width="120" id="icon" alt="Usuario" /></div>
    <div class="dropdown-divider"></div>
    <div class="list-group list-group-flush">
      <a (click)="moneda=false; cuentas=false; categoria=false; gast_ingres=false; transaccion=false; grafico=true;" class="list-group-item list-group-item-action" id="menu1"><i class="far fa-chart-bar"></i> Graficos</a>
      <a (click)="moneda=true; cuentas=false; categoria=false; gast_ingres=false; transaccion=false; grafico=false;" class="list-group-item list-group-item-action" id="menu1"><i class="fas fa-coins"></i> Moneda</a>
      <a (click)="moneda=false; cuentas=false; categoria=true; gast_ingres=false; transaccion=false; grafico=false;" class="list-group-item list-group-item-action" id="menu1"><i class="fas fa-cubes"></i> Categorias</a>
      <a (click)="moneda=false; cuentas=true; categoria=false; gast_ingres=false; transaccion=false; grafico=false;" class="list-group-item list-group-item-action" id="menu1"><i class="far fa-credit-card"></i> Cuentas</a>
      <a (click)="moneda=false; cuentas=false; categoria=false; gast_ingres=false; transaccion=true; grafico=false;" class="list-group-item list-group-item-action" id="menu1"><i class="fas fa-exchange-alt"></i> Transacciones</a>
    </div>
  </div>
  <!--<a (click)="moneda=false; cuentas=false; categoria=false; gast_ingres=true; transaccion=false; grafico=false;" class="list-group-item list-group-item-action" id="menu1"><i class="fas fa-balance-scale"></i> Gastos e Ingresos</a>-->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom" id="page1">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <div class="list-group list-group-flush" id="menuvar" style="display: block;">
          <a (click)="moneda=false; cuentas=false; categoria=false; gast_ingres=false; transaccion=false; grafico=true;" class="list-group-item list-group-item-action" id=""><i class="far fa-chart-bar"></i> Graficos</a>
          <a (click)="moneda=true; cuentas=false; categoria=false; gast_ingres=false; transaccion=false; grafico=false;" class="list-group-item list-group-item-action" id=""><i class="fas fa-coins"></i> Moneda</a>
          <a (click)="moneda=false; cuentas=false; categoria=true; gast_ingres=false; transaccion=false; grafico=false;" class="list-group-item list-group-item-action" id=""><i class="fas fa-cubes"></i> Categorias</a>
          <a (click)="moneda=false; cuentas=true; categoria=false; gast_ingres=false; transaccion=false; grafico=false;" class="list-group-item list-group-item-action" id=""><i class="far fa-credit-card"></i> Cuentas</a>
          <a (click)="moneda=false; cuentas=false; categoria=false; gast_ingres=true; transaccion=false; grafico=false;" class="list-group-item list-group-item-action" id=""><i class="fas fa-balance-scale"></i> Gastos e Ingresos</a>
          <a (click)="moneda=false; cuentas=false; categoria=false; gast_ingres=false; transaccion=true; grafico=false;" class="list-group-item list-group-item-action" id=""><i class="fas fa-exchange-alt"></i> Transacciones</a>
        </div>
      </div>
      <ul class="navbar-nav my-2 my-lg-0">
          <div style="display: flex;">
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item" style="display: flex;">
              <img src="./../../assets/img_avatar.png" *ngIf="img == null || nombre_invitado != null" alt="User Icon" class="avatar">
              <img [src]="img" *ngIf="img != null && nombre_invitado == null" alt="User Icon" class="avatar">
              <p id="usuario" *ngIf="nombre_invitado == null" class="nav-link" style="margin-bottom: -2%">{{nombre}}</p>
              <p id="usuario" *ngIf="nombre_invitado != null" class="nav-link" style="margin-bottom: -2%">Invitado {{nombre_invitado}}</p>
            </li>
            <li class="nav-item dropdown" style="display: flex;">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-cog"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <!--<div class="dropdown-divider"></div>-->
                <a (click)="logOut()" class="dropdown-item">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Cerrar Sesión
                </a>
                <a (click)="open(content)" *ngIf="nombre_invitado == null" class="dropdown-item">
                    <i class="fas fa-ticket-alt"></i>
                  Generar Usuarios de Acceso
                </a>
                <a (click)="open2(usuarios)" *ngIf="nombre_invitado == null" class="dropdown-item">
                  <i class="fas fa-users"></i>
                  Ver Usuario de Acceso
              </a>
              </div>
            </li>
          </div>
      </ul>   
  
    </nav>

    <div class="container-fluid">
      
      <app-definir-moneda *ngIf="moneda"></app-definir-moneda>
      <app-cuentas *ngIf="cuentas"></app-cuentas>
      <app-categorias *ngIf="categoria"></app-categorias>
      <app-gastos-ingresos *ngIf="gast_ingres"></app-gastos-ingresos>
      <app-transacciones *ngIf="transaccion"></app-transacciones>
      <app-graficos *ngIf="grafico"></app-graficos>

    </div>
  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Crear Usuario</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #form="ngForm" (ngSubmit)="addInvitado(form)" ngNativeValidate>
      <div class="form-group">
        <label for="correo">Correo Electronico</label>
        <input type="email" name="correo" required [(ngModel)]="correo" id="correo" class="form-control" placeholder="Correo Electronico">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" required [(ngModel)]="username" id="nombre" class="form-control" placeholder="Nombre">
        <label for="pass">Contraseña</label>
        <show-hide-password size="" btnStyle="primary" [btnOutline]="false">
          <input type="password" required name="password" [(ngModel)]="pass" id="password" placeholder="Contraseña">
        </show-hide-password>
      </div>
      <button type="submit" style="width: 100%;" class="btn btn-outline-dark" >Guardar</button>
    </form>
  </div>

</ng-template>


  <ng-template #usuarios let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Usuarios</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Accion</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let invitado of invitados">
                <th scope="row">{{invitado.nombre}}</th>
                <td>{{invitado.correo}}</td>
                <td><button class="btn btn-outline-danger" (click)="eliminarInvitado(invitado.nombre, invitado.id)" style="width: 100%;"><i class="fas fa-user-minus"></i></button></td>
              </tr>
            </tbody>
          </table>
    </div>
  </ng-template>