<!-- Just an image -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" routerLink="/home">
        <i style="font-size: 30px;" class="fas fa-comment-dollar"></i> 
    </a>
  </nav>
<div class="wrapper fadeInDown" >
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="inactive underlineHover" routerLink="/login"> Sign In </h2>
      <h2 class="active">Sign Up </h2>
      
      <div class="sing">
        <!-- Icon -->
        <div class="fadeIn first">
            <img *ngIf="!qr" [src]="img" id="icon" alt="User Icon" />
        </div>
    
        <!-- Login Form -->
      <div class="register">
        <form #form="ngForm" (ngSubmit)="addUser(form)" ngNativeValidate>
          <input type="text" id="login" [(ngModel)]="nombre" class="fadeIn second" required name="usuario" placeholder="Nombre Completo">
          <input type="number" id="id" [(ngModel)]="cedula" class="fadeIn second" required name="cedula" placeholder="Cédula">
          <input type="email" id="email" [(ngModel)]="correo" class="fadeIn third" required name="email" placeholder="Correo Electronico">
          <input type="password" *ngIf="qr" [(ngModel)]="contra" id="password" class="fadeIn fourth" required name="pass" placeholder="Contraseña">
          <input type="password" *ngIf="qr" [(ngModel)]="contra2" id="password2" class="fadeIn fourth" required name="pass2" placeholder="Confirmar Contraseña">
          <label *ngIf="!qr" class="fadeIn">!Por favor, escanea el Codigo QR!</label>
          <input type="submit" class="fadeIn fourth" value="Registrar">
  
        </form>

        <div class="button" style="margin: auto; width: 50%; text-align: center; display: flex; flex-direction: row; margin-bottom: 15px;">
          <button class="btn btn-dark" (click)="QR()" title="Registro con 2FA" style=" margin: auto; width: 100%;"><i class="fas fa-qrcode"></i></button>
        </div>
      </div>
  
    </div>
</div>
